.countdown {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .timer {
    // font-size: 70px;
    font-style: normal;
    font-weight: 400;
    text-align: center !important;
    // color: #031d44;
    background-color: transparent;
    // padding: 18px 13px;
    font-weight: bold;
    // min-width: 40px;
    margin: 0 10px;
    display: block;
  }
  .legend {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center !important;
  }
}
