<div class="countdown">
    <div *ngIf="secondsToDday >= 0" >
        <div class="timer">
            <!-- <div class="legend">
                Dias
            </div> -->
            <div>
                <span id="days"> {{daysToDday}} </span>
                <span>días</span>
            </div>
        </div>
        <div class="timer">
            <!-- <div class="legend">
                Horas
            </div> -->
            <span id="hours"> {{hoursToDday}} </span>
                <span>hrs</span>
                </div>
        <div class="timer">
            <!-- <div class="legend">
                Minutos
            </div> -->
            <span id="minutes"> {{minutesToDday}} </span>
            <span>min</span>
        </div>
        <div class="timer">
            <!-- <div class="legend">
                Segundos
            </div> -->
            <span id="seconds"> {{secondsToDday}} </span>
            <span>segs</span>
        </div>
    </div>
    <div *ngIf=" !(secondsToDday >= 0)" >
        <div class="timer">
            <div>
                <span>Proximamente</span>
            </div>
        </div>
    </div>
</div>