<div class="container-fluid ">
    <br>
    <div class="row justify-content-center match-color baner">
        <div class="col-12">
            <br>
        </div>
        <div class="col-11 text-center cal-theme">
            <div class="row text-center">
                <div class="col-md-5">
                    <div class="btn-group">
                        <button mat-raised-button color="primary" class="left"  mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" > Atras</button>
                        <button mat-raised-button color="primary" class="middle" mwlCalendarToday [(viewDate)]="viewDate" > Hoy </button>
                        <button mat-raised-button color="primary" class="right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" >Siguiente</button>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
                </div>
                <div class="col-md-4">
                    <mat-button-toggle-group [formControl]="fontStyleControl" appearance="legacy" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="month" (click)="setView(CalendarView.Month)" >Mes</mat-button-toggle>
                        <mat-button-toggle value="week"  (click)="setView(CalendarView.Week)">Semana</mat-button-toggle>
                        <mat-button-toggle value="day"   (click)="setView(CalendarView.Day)">Dia</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <br />
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" [daysInWeek]="daysInWeek"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
            </div>
        
        
        </div>
        <div class="col-12">
            <br>
        </div>
    </div>
    <br>
    <app-footer></app-footer>

</div>