.menu {
  .links {
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
}
.liveBar {
  background-color: #72148c;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.switcher {
  position: fixed;
  top: -7.5rem;
  right: -7.5rem;
  height: 12rem;
  width: 15rem;
  border-radius: 8rem;
  cursor: pointer;
  z-index: 9999;
  .sun {
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: 0.3rem;
    left: 2.5rem;
  }
  .moon {
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: 0.3rem;
    left: 2.5rem;
  }
}

.footer {
  .imagotipo {
    height: 150px;
  }
  .logoTK {
    height: 50px;
  }
  .suscribeBar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mat-mdc-form-field-flex {
      position: relative;
      .mat-mdc-form-field-icon-suffix {
        position: absolute;
        top: 0;
        right: -1px;
        button {
          height: 56px;
        }
      }
    }
  }
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 995px) {
  .menu {
    display: none !important;
  }
  .footer {
    .imagotipo {
      height: 70px;
    }
    .logoTK {
      height: 35px;
    }
    .redes {
      justify-content: initial;
    }
    // .redes {
    //   display: none;
    // }
  }
}

// @media (max-width: 995px) {
//   .suscribeBar {
//     // display: none !important;
//   }
// }
