.page {
  background-image: url("../img/texture1.png");
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scroll {
  // overflow-y: auto;
  /* Works on mozila*/

  scrollbar-color: #848484 #e8e8e8 !important;
  scrollbar-width: thin !important;
  // background-color: rgba(0, 0, 0, 0.03);

  /* scroll thumb and track */
  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background: #e8e8e8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 20px;
  }
}

.baner {
  // font-weight: 400;
  .principal {
    font-size: calc(2.5em + 0.5vw);
  }
  .secondary {
    font-size: calc(1.5em + 0.5vw);
  }
}

@mixin displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon_card {
  background-color: white !important;
  background-image: url("../img/texture1.png");
  height: 30%;
  display: flex;
  position: relative;
  // justify-content: center;
  align-items: end;
  border-color: #f8f9fa;
  border-bottom: 5px solid #72148c !important;
  box-shadow: 0px 140px 128px -51px #72148c, 0 20px 50px rgba(248, 249, 250, 1);
  // 0px ​140px 128px -59px
  border-radius: 10px;
  .texto {
    color: black;
    font-size: calc(2em + 0.5vw);
  }
  .banner {
    color: white;
    background-color: var(--primary);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 45%;
    height: 30%;
    border-radius: 10px;
    font-size: calc(1.5em + 0.5vw);
  }
  .arrow-left {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--primary);
    position: absolute;
    left: 0;
    bottom: -10px;
  }
}

@media (max-width: 995px) {
  .baner {
    .principal {
      font-size: calc(1.5em + 0.5vw);
    }
    .secondary {
      font-size: calc(0.5em + 0.5vw);
    }
  }
  .neon_card {
    .texto {
      font-size: calc(1.5em + 0.5vw);
    }
    .banner {
      font-size: calc(1em + 0.5vw);
    }
  }
}
