.page {
  height: 100%;
  //   background-color: transparent;
  background-image: url("../img/texture1.png");
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scroll {
  // overflow-y: auto;
  /* Works on mozila*/

  scrollbar-color: #848484 #e8e8e8 !important;
  scrollbar-width: thin !important;
  // background-color: rgba(0, 0, 0, 0.03);

  /* scroll thumb and track */
  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background: #e8e8e8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 20px;
  }
}

.baner {
  // font-weight: 400;
  .principal {
    font-size: calc(2.5em + 0.5vw);
  }
  .secondary {
    font-size: calc(1.5em + 0.5vw);
  }
}

@media (max-width: 995px) {
  .baner {
    .principal {
      font-size: calc(1.5em + 0.5vw);
    }
    .secondary {
      font-size: calc(0.5em + 0.5vw);
    }
  }
}
