<div class="container-fluid"  class="contrast">
    <div class="row">
        <div class="col-2 col-lg-5">
            <img src="assets/img/logo.svg" alt="logo en blanco"  class="img-black" >
            <img src="assets/img/logo-black.svg" alt="logo en negro" class="img-white" >
        </div>
        <div class="col-10 col-lg-6 menu" >
            <div class="row text-center links" >
                <div class="col-3 align-self-center">
                    CALENDARIOS
                </div>
                <div class="col-3 align-self-center">
                    FAQs
                </div>
                <div class="col-3 align-self-center">
                    CONTACTANO
                </div>
                <div class="col-3 align-self-center">
                    INICIAR SESION
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center liveBar" >
        <div class="col-12 col-sm-8 aling-items-center text-center py-1">
            <span  >Ahora en vivo!!! visita nuestra pagina de Facebook</span>
        </div>
    </div>
    
</div>