<div class="container-fluid ">
    <br>
    <div class="row justify-content-center match-color baner">
        <div class="col-12">
            <br>
        </div>
        <div class="col-12 col-md-8 text-center principal">
            <span class="">
                El respondiendo, les dijo: Porque a vosotros os es dado saber los misterios del reino de los cielos; mas a ellos no les
                es dado.
            </span>
        </div>
        <div class="col-12 col-sm-8 text-right">
            <span class="secondary">
                Mateo 13:11
            </span>
        </div>
        <div class="col-12 col-sm-8 text-center">
            <button mat-raised-button color="primary">Ver calendario</button>
        </div>
        <div class="col-12">
            <br>
        </div>

    </div>
    <br>
    <app-slider [customTitle]="title"  [customSubTitle]="subTitle" >
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect top" >
                <span class="texto">
                    Evangelio de Mateo
                </span>
                <span class="banner text-center">
                    Nuevo
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect bottom">
                <span class="texto">
                    Antiguo y Nuevo Testamento
                </span>
                <span class="banner text-center">
                    Modulo 1
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect top">
                <span class="texto">
                    Cimientos y filtros
                </span>
                <span class="banner text-center">
                    Modulo 2
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect bottom">
                <span class="texto">
                    Iglesia & Reino
                </span>
                <span class="banner text-center">
                    Modulo 3
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect top">
                <span class="texto">
                    Evangelio de Juan
                </span>
                <span class="banner text-center">
                    Modulo 4
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
    </app-slider>
    <br><br><br><br>
    <div class="row justify-content-center match-color baner">
        <div class="col-12">
            <br>
        </div>
        <div class="col-12 col-md-8 text-center principal">
            <span class="">
                Porque de cierto os digo, que muchos profetas y justos desearon ver lo que veis, y no lo vieron; y oír lo que oís, y no
                lo oyeron.
            </span>
        </div>
        <div class="col-12 col-sm-8 text-right">
            <span class="secondary">
                Mateo 13:17
            </span>
        </div>
    </div>
    <br>
    <br>
    <br><br>
    <app-slider 
        [customTitle]="title2" 
        [customSubTitle]="subtitle2"
        [texture]="textureState"
        [align]="align"
        >
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
                    relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                </p>
                <div class="footer">
                    <div mat-card-avatar class="example-header-image avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Yeicob Calderon</span>
                        <span class="subtitle">@Arzeusy</span>
                    </div>
                </div>
            </div>
        </div>
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
                    texto de
                    relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                </p>
                <div class="footer">
                    <div mat-card-avatar class="example-header-image avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Yeicob Calderon</span>
                        <span class="subtitle">@Arzeusy</span>
                    </div>
                </div>
            </div>
        </div>
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
                    texto de
                    relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                </p>
                <div class="footer">
                    <div mat-card-avatar class="example-header-image avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Yeicob Calderon</span>
                        <span class="subtitle">@Arzeusy</span>
                    </div>
                </div>
            </div>
        </div>
    </app-slider>


</div>