<div class="container-fluid ">
    <br>
    <div class="row justify-content-center match-color baner">
        <div class="col-12">
            <br>
        </div>
        <div class="col-12 col-md-8 text-center principal">
            <span class="">
                El respondiendo, les dijo: Porque a vosotros os es dado saber los misterios del reino de los cielos; mas a ellos no les
                es dado.
            </span>
        </div>
        <div class="col-12 col-sm-8 text-right">
            <span class="secondary">
                Mateo 13:11
            </span>
        </div>
        <div class="col-12 col-sm-8 text-center">
            <button mat-raised-button color="primary" (click)="watchCalendar()" >Ver calendario</button>
        </div>
        <div class="col-12">
            <br>
        </div>

    </div>
    <br>
    <app-slider [customTitle]="title"  [customSubTitle]="subTitle" >
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect click slider-card top" (click)="watchCourse(1)" >
                <span class="texto">
                    <a  >
                        Evangelio de Mateo
                    </a>
                </span>
                <span class="banner text-center">
                    Nuevo
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect click slider-card bottom" (click)="watchCourse(2)">
                <span class="texto">
                    <a >
                        Antiguo y Nuevo Testamento
                    </a>
                </span>
                <span class="banner text-center">
                    Modulo 1
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect click slider-card top" (click)="watchCourse(3)">
                <span class="texto">
                    <a>
                        Cimientos y filtros
                    </a>
                </span>
                <span class="banner text-center">
                    Modulo 2
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect click slider-card bottom" (click)="watchCourse(4)">
                <span class="texto">
                    <a>
                        Iglesia & el Reino
                    </a>
                </span>
                <span class="banner text-center">
                    Modulo 3
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
        <div appSliderItem class="row col-9 col-sm-7 col-md-5 justify-content-center neon_card">
            <div class="col-8 neon_efect click slider-card top" (click)="watchCourse(5)">
                <span class="texto">
                    <a>
                        Evangelio de Juan
                    </a>
                </span>
                <span class="banner text-center">
                    Modulo 4
                    <div class="arrow-left "></div>
                </span>
            </div>
        </div>
    </app-slider>
    <br><br><br><br>
    <div class="row justify-content-center match-color baner">
        <div class="col-12">
            <br>
        </div>
        <div class="col-12 col-md-8 text-center principal">
            <span class="">
                Porque de cierto os digo, que muchos profetas y justos desearon ver lo que veis, y no lo vieron; y oír lo que oís, y no
                lo oyeron.
            </span>
        </div>
        <div class="col-12 col-sm-8 text-right">
            <span class="secondary">
                Mateo 13:17
            </span>
        </div>
    </div>
    <br>
    <br>
    <br><br>
    <app-slider 
        [customTitle]="title2" 
        [customSubTitle]="subtitle2"
        [texture]="textureState"
        [align]="align"
        >
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Dios me dió la oportunidad se seguir creciendo en el conocimiento de su palabra. Ser parte del Discipulado para
                    principiantes tuvo como experiencia muchos retos y adversidades, muchos factores hicieron que las cosas no fueran
                    fáciles, pero también muchas cosas me animaron a continuar aprendiendo, sin duda alguna, Dios estuvo siempre, en
                    detalles grandes y pequeños, dando más de lo que yo necesitaba y recordando lo que no debía olvidar para seguir.
                </p>
                <div class="footer">
                    <div mat-card-avatar class="imageAvatar1 avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Sheymi López</span>
                        <span class="subtitle">Generación alfa</span>
                    </div>
                </div>
            </div>
        </div>
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Puedo decir los estudios son bastante edificantes, no importa si uno es principiante o no , la metodología de estudio es
                    para todo aquel que quiera aprender más de la palabra de Dios, porque se empieza desde lo básico, y luego a temas más
                    específicos. me ayudaron a estudiar la biblia desde una perspectiva más responsable, comprometida y despertó en mi el
                    deseo de seguir indagando más de la palabra de Dios.
                </p>
                <div class="footer">
                    <div mat-card-avatar class="imageAvatar2 avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Ruth Vásquez</span>
                        <span class="subtitle">Generación alfa</span>
                    </div>
                </div>
            </div>
        </div>
        <div appSliderItem class="row col-12 col-sm-8 col-md-6 justify-content-center commentContainer ">
            <div class="col-10 align-self-center commentCard">
                <p class="comment">
                    Discipulado para principiantes me enseñó primeramente abrir mi mente a nuevas enseñanzas bíblicas; que mi Brújula
                    siempre tiene que ser el Señor en donde me encuentre y me ayudó a afianzar más mi Fe.
                </p>
                <div class="footer">
                    <div mat-card-avatar class="imageAvatar3 avatar">
                        <div class="arrow"></div>
                    </div>
                    <div class="footer-text">
                        <span class="title">Ruth Vásquez</span>
                        <span class="subtitle">Generación alfa</span>
                    </div>
                </div>
            </div>
        </div>
    </app-slider>
    <app-footer></app-footer>

</div>