/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Alike";
  src: url("./assets/fonts/Alike-Regular.ttf");
}
// @import url("https://fonts.googleapis.com/css2?family=Alike&display=swap");

@import "src/assets/css/grid.scss";
@import "src/assets/css/navbar.scss";
@import "src/assets/css/pages.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Alike, Roboto, "Helvetica Neue", sans-serif;
  // overflow-y: auto;
  /* Works on mozila*/

  // scrollbar-color: #848484 #e8e8e8 !important;
  // scrollbar-width: thin !important;
  // // background-color: rgba(0, 0, 0, 0.03);

  // /* scroll thumb and track */
  // /* Works on Chrome, Edge, and Safari */
  // &::-webkit-scrollbar {
  //   width: 5px !important;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #e8e8e8;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #848484;
  //   border-radius: 20px;
  // }
}
