<div class="container-fluid contrast baner">
    <br>
    <div class="row" *ngIf="customTitle.length > 0">
        <div class="col-12 text-center principal">
            <span >{{customTitle}}</span>
        </div>
        <div class="col-12 text-center secondary">
            <span>{{customSubTitle}}</span>
        </div>
    </div>
    <br>
    <div class="slider-container">
        <div class="slides" #slides>
            <ng-content select="[appSliderItem]" #sliderItem></ng-content>
        </div>
        <div class="text-center">
            <!-- <button mat-raised-button color="primary" (click)="onClickLeft()">left</button> -->
            <!-- <button mat-raised-button color="primary" (click)="onClickRight()">right</button> -->
            <ng-container *ngFor="let item of manyItem">
                <button mat-icon-button (click)="onClickCircle(item)" >
                    <mat-icon>circle</mat-icon>
                </button>

            </ng-container>
            
        </div>
    </div>

</div>
